<%- include('partials/header')-%>
    <div class="center">
        <div class="container my-container">
            <h1>
                <%= name %>'s favs
            </h1>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 my-col center">
                    <form action="/round1" method="post">
                        <div class="center">
                            <img src="images/<%=teacherArr[pointer].sex%>.png" alt="">
                            <div class="details">
                                <p> Name: <%= teacherArr[pointer].name%>
                                        <br>
                                        Teaches: <%= teacherArr[pointer].sub%>
                                </p>
                                <button class="btn btn-primary" name="<%= pointer%>" type="submit">
                                    Like <i class="fa-solid fa-thumbs-up"></i></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 my-col">
                    <form action="/round1" method="post">
                        <div class="center">
                            <img src="images/<%=teacherArr[pointer+1].sex%>.png" alt="">
                            <div class="details">
                                <p> Name: <%= teacherArr[pointer+1].name%>
                                        <br>
                                        Teaches: <%= teacherArr[pointer+1].sub%>
                                </p>
                                <button class="btn btn-primary" type="submit" name="<%= pointer%>">
                                    Like <i class="fa-solid fa-thumbs-up"></i></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer')-%>