<%- include('partials/header')-%>
    <div class="center">
        <div class="container my-container">
            <h1>
                hi <%= name %>
            </h1>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 my-col center">
                    <form action="/round1" method="post">
                        <div class="center">
                            <img src="images/<%=teacherArr[pointer].sex%>.png" alt="">
                            <div class="details">
                                <ul>
                                    <li>
                                         <%= teacherArr[pointer].name%>
                                    </li>
                                    <li>
                                         <%= teacherArr[pointer].sub%>
                                    </li>
                                </ul>
                                <button class="btn btn-primary" name="winner" type="submit" value="<%= pointer%>">
                                    Like <i class="fa-solid fa-thumbs-up"></i></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 my-col">
                    <form action="/round1" method="post">
                        <div class="center">
                            <img src="images/<%=teacherArr[pointer+1].sex%>.png" alt="">
                            <div class="details">
                                <ul>
                                    <li>
                                         <%= teacherArr[pointer+1].name%>
                                    </li>
                                    <li>
                                         <%= teacherArr[pointer+1].sub%>
                                    </li>
                                </ul>
                                <button class="btn btn-primary" type="submit" name="winner" value="<%= pointer+1%>">
                                    Like <i class="fa-solid fa-thumbs-up"></i></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer')-%>